<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="me.shoutto.sdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.sensor.proximity" android:required="false" />

    <application android:allowBackup="true" android:label="@string/app_name">
        <service android:name="me.shoutto.sdk.StmService" />
        <activity
            android:name="me.shoutto.sdk.StmRecorderActivity"
            android:theme="@style/Theme.AppCompat.Translucent" >
        </activity>
    </application>

</manifest>
