---
layout: default
---

<div class="home">

  <div style="width:100%">
    <div style="float:left;width:170px;margin-top:50px;margin-left: -170px;">
      <div>Android SDK</div>
      <ul style="margin-left:10px;list-style: none">
        <li><a href="/">Home</a></li>
        <li><a href="/docs/getting-started">Getting Started</a>
          <ul>
            <li><a href="/docs/setup">Setup</a></li>
            <li><a href="/docs/sample-app">Sample App</a></li>
          </ul>
        </li>
        <li><a href="/docs/stm-service">StmService</a></li>
        <li><a href="/docs/recording-overlay">Recording Overlay</a></li>
        <li><a href="/docs/notifications">Notifications</a></li>
        <li><a href="/reference">Reference</a></li>

      </ul>
    </div>
    <div style="width:100%;">
      {{ content }}
    </div>
  </div>

</div>